In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [12]:
# Check for null values
train.Dates.isnull().sum()
train.Category.isnull().sum()
train.Descript.isnull().sum()
train.DayOfWeek.isnull().sum()
train.PdDistrict.isnull().sum()
train.Resolution.isnull().sum()
train.Address.isnull().sum()
train.X.isnull().sum()
train.Y.isnull().sum()

0

In [20]:
# Data reconfiguration function

def date_to_hours(date):
    '''Turn Date column into hours and fractional minutes'''
    hour = date[11:13]
    minute = date[14:16]
    frac = float(minute)/60.0
    return int(hour) + frac



train['Month'] = train.Dates.apply(lambda x: x[5:7])
train['Day'] = train.Dates.apply(lambda x: x[8:10])
train['Time'] = train.Dates.apply(date_to_hours)

0         23.883333
1         23.883333
2         23.550000
3         23.500000
4         23.500000
5         23.500000
6         23.500000
7         23.500000
8         23.000000
9         23.000000
10        22.966667
11        22.500000
12        22.500000
13        22.100000
14        22.000000
15        22.000000
16        22.000000
17        21.916667
18        21.666667
19        21.500000
20        21.500000
21        21.283333
22        21.183333
23        21.183333
24        21.166667
25        21.000000
26        21.000000
27        21.000000
28        21.000000
29        20.933333
            ...
878019     2.616667
878020     2.533333
878021     2.400000
878022     2.266667
878023     2.250000
878024     2.150000
878025     2.100000
878026     2.100000
878027     2.000000
878028     2.000000
878029     1.900000
878030     1.900000
878031     1.833333
878032     1.600000
878033     1.500000
878034     1.500000
878035     0.916667
878036     0.916667
878037     0.916667
878038     0.700000
878039     0.666667
878040     0.550000
878041     0.516667
878042     0.333333
878043     0.333333
878044     0.250000
878045     0.016667
878046     0.016667
878047     0.016667
878048     0.016667
Name: Time, dtype: float64

TypeError: len() of unsized object

In [2]:
# Plot crimes that happened a lot together??

In [3]:
# Plot crimes on map

In [ ]:
2