In [23]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

test.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [24]:
# Data reconfiguration function

def date_to_hours(date):
    '''Turn Date column into hours and fractional minutes'''
    hour = date[11:13]
    minute = date[14:16]
    frac = float(minute)/60.0
    return int(hour) + frac

def split_date(data):
    data['Year'] = data.Dates.apply(lambda x: int(x[0:4]))
    data['Month'] = data.Dates.apply(lambda x: int(x[5:7]))
    data['Day'] = data.Dates.apply(lambda x: int(x[8:10]))
    data['Time'] = data.Dates.apply(date_to_hours)
    
split_date(train)
split_date(test)

In [25]:
#Onehot encode District and Day of Week

def convertDow(data):
    data = pd.concat((data, pd.get_dummies(data.DayOfWeek, prefix="Dow")), axis=1)
    return data

def convertDistrict(data):
#     districts = {'MISSION' : 0, 'CENTRAL': 1, 'TARAVAL': 2, 'INGLESIDE': 3, 'TENDERLOIN': 4, 'BAYVIEW': 5, 
#                  'SOUTHERN': 6, 'NORTHERN': 7, 'PARK': 8, 'RICHMOND': 9}
#     return districts[x]
    data = pd.concat((data, pd.get_dummies(data.PdDistrict, prefix="Dis")), axis=1)
    return data

def convert(x):
    crimes = {
            'ARSON' : 0,'ASSAULT': 1,'BAD CHECKS': 2,'BRIBERY': 3,'BURGLARY': 4,'DISORDERLY CONDUCT': 5,'DRIVING UNDER THE INFLUENCE': 6,
             'DRUG/NARCOTIC': 7,'DRUNKENNESS': 8,'EMBEZZLEMENT': 9,'EXTORTION': 10,'FAMILY OFFENSES': 11,'FORGERY/COUNTERFEITING': 12,
             'FRAUD': 13,'GAMBLING': 14,'KIDNAPPING': 15,'LARCENY/THEFT': 16,'LIQUOR LAWS': 17,'LOITERING': 18,'MISSING PERSON': 19,'NON-CRIMINAL': 20,
             'OTHER OFFENSES': 21,'PORNOGRAPHY/OBSCENE MAT': 22,'PROSTITUTION': 23,'RECOVERED VEHICLE': 24,'ROBBERY': 25,'RUNAWAY': 26,'SECONDARY CODES': 27,
             'SEX OFFENSES FORCIBLE': 28,'SEX OFFENSES NON FORCIBLE': 29,'STOLEN PROPERTY': 30,'SUICIDE': 31,'SUSPICIOUS OCC': 32,'TREA': 33,'TRESPASS': 34,
             'VANDALISM': 35,'VEHICLE THEFT': 36,'WARRANTS':37,'WEAPON LAWS': 38}
    return crimes[x]

In [26]:
train = convertDow(train)
train = convertDistrict(train)

test = convertDow(test)
test = convertDistrict(test)

In [27]:
#Test if there's a street corner

def corner_test(string):
    if '/' in string: return 1
    else: return 0
    
train['Corner'] = train.Address.apply(corner_test)
test['Corner'] = test.Address.apply(corner_test)


# X = pd.DataFrame(train.drop('Category',1))
# y = pd.DataFrame(train['Category'])

# X = pd.DataFrame(X).applymap(convert)
# y = pd.DataFrame(y).applymap(convert)

# X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .4)

In [28]:
# predictors = ['X', 'Y']
predictors = ['X', 'Y', 'Year', 'Month', 'Day', 'Time', 'Dow_Monday', 'Dow_Tuesday', 'Dow_Wednesday', 'Dow_Thursday', 'Dow_Friday', 'Dow_Saturday', 'Dow_Sunday', 'Dis_CENTRAL', 'Dis_INGLESIDE', 'Dis_MISSION', 'Dis_NORTHERN', 'Dis_RICHMOND', 'Dis_SOUTHERN', 'Dis_TARAVAL', 'Dis_TENDERLOIN', 'Corner']

In [33]:
from sklearn.metrics import log_loss
from sklearn.ensemble import RandomForestClassifier

alg = RandomForestClassifier(n_estimators=100)

rf_model = alg.fit(train[predictors][0:10000], train['Category'][0:10000])

estimates = rf_model.predict_proba(test[predictors][0:10000])

df_est= pd.DataFrame(estimates)
dfest = pd.concat([test.Id[0:10000],df_est], axis=1)
print dfest

dfest.columns = ['Id','ARSON','ASSAULT','BAD CHECKS','BRIBERY','BURGLARY','DISORDERLY CONDUCT','DRIVING UNDER THE INFLUENCE',
             'DRUG/NARCOTIC','DRUNKENNESS','EMBEZZLEMENT','EXTORTION','FAMILY OFFENSES','FORGERY/COUNTERFEITING',
             'FRAUD','GAMBLING','KIDNAPPING','LARCENY/THEFT','LIQUOR LAWS','LOITERING','MISSING PERSON','NON-CRIMINAL',
             'OTHER OFFENSES','PORNOGRAPHY/OBSCENE MAT','PROSTITUTION','RECOVERED VEHICLE','ROBBERY','RUNAWAY','SECONDARY CODES',
             'SEX OFFENSES FORCIBLE','SEX OFFENSES NON FORCIBLE','STOLEN PROPERTY','SUICIDE','SUSPICIOUS OCC','TREA','TRESPASS',
             'VANDALISM','VEHICLE THEFT','WARRANTS','WEAPON LAWS']

dfest.to_csv('resultsRF.csv', index = False, columns=['Id','ARSON','ASSAULT','BAD CHECKS','BRIBERY','BURGLARY','DISORDERLY CONDUCT','DRIVING UNDER THE INFLUENCE',
             'DRUG/NARCOTIC','DRUNKENNESS','EMBEZZLEMENT','EXTORTION','FAMILY OFFENSES','FORGERY/COUNTERFEITING',
             'FRAUD','GAMBLING','KIDNAPPING','LARCENY/THEFT','LIQUOR LAWS','LOITERING','MISSING PERSON','NON-CRIMINAL',
             'OTHER OFFENSES','PORNOGRAPHY/OBSCENE MAT','PROSTITUTION','RECOVERED VEHICLE','ROBBERY','RUNAWAY','SECONDARY CODES',
             'SEX OFFENSES FORCIBLE','SEX OFFENSES NON FORCIBLE','STOLEN PROPERTY','SUICIDE','SUSPICIOUS OCC','TREA','TRESPASS',
             'VANDALISM','VEHICLE THEFT','WARRANTS','WEAPON LAWS'])

            Id     0         1   2         3     4         5         6  \
0            0  0.00  0.131667   0  0.037714  0.00  0.000000  0.004000
1            1  0.00  0.067667   0  0.000000  0.00  0.040000  0.052000
2            2  0.00  0.252214   0  0.010000  0.00  0.000000  0.010000
3            3  0.00  0.065000   0  0.000000  0.00  0.000000  0.000000
4            4  0.00  0.065000   0  0.000000  0.00  0.000000  0.000000
5            5  0.00  0.047143   0  0.000000  0.00  0.022500  0.002000
6            6  0.00  0.067500   0  0.049167  0.00  0.000000  0.000000
7            7  0.00  0.052500   0  0.002500  0.00  0.000000  0.000000
8            8  0.00  0.060000   0  0.030000  0.00  0.000000  0.006667
9            9  0.00  0.113333   0  0.000000  0.01  0.000000  0.012000
10          10  0.00  0.034167   0  0.025833  0.00  0.000000  0.000000
11          11  0.00  0.115000   0  0.110000  0.00  0.000000  0.006250
12          12  0.00  0.115000   0  0.110000  0.00  0.000000  0.006250
13          13  0.00  0.023333   0  0.070000  0.00  0.000000  0.000000
14          14  0.00  0.080000   0  0.000000  0.00  0.000000  0.000000
15          15  0.00  0.125000   0  0.000000  0.00  0.000000  0.047833
16          16  0.00  0.042500   0  0.020000  0.00  0.000000  0.000000
17          17  0.00  0.075000   0  0.000000  0.00  0.000000  0.000000
18          18  0.00  0.060000   0  0.033333  0.00  0.000000  0.011667
19          19  0.00  0.045000   0  0.010000  0.00  0.000000  0.001667
20          20  0.00  0.045000   0  0.010000  0.00  0.000000  0.001667
21          21  0.00  0.087500   0  0.010000  0.00  0.046667  0.059845
22          22  0.00  0.026000   0  0.000000  0.00  0.000000  0.000000
23          23  0.00  0.090000   0  0.010000  0.00  0.000000  0.000000
24          24  0.00  0.030000   0  0.040000  0.00  0.000000  0.000000
25          25  0.00  0.010000   0  0.055000  0.00  0.000000  0.010000
26          26  0.00  0.040000   0  0.030000  0.00  0.000000  0.000000
27          27  0.01  0.008333   0  0.000000  0.00  0.000000  0.000000
28          28  0.00  0.055000   0  0.000000  0.00  0.000000  0.000000
29          29  0.00  0.020000   0  0.088000  0.00  0.000000  0.000000
...        ...   ...       ...  ..       ...   ...       ...       ...
884232  884232   NaN       NaN NaN       NaN   NaN       NaN       NaN
884233  884233   NaN       NaN NaN       NaN   NaN       NaN       NaN
884234  884234   NaN       NaN NaN       NaN   NaN       NaN       NaN
884235  884235   NaN       NaN NaN       NaN   NaN       NaN       NaN
884236  884236   NaN       NaN NaN       NaN   NaN       NaN       NaN
884237  884237   NaN       NaN NaN       NaN   NaN       NaN       NaN
884238  884238   NaN       NaN NaN       NaN   NaN       NaN       NaN
884239  884239   NaN       NaN NaN       NaN   NaN       NaN       NaN
884240  884240   NaN       NaN NaN       NaN   NaN       NaN       NaN
884241  884241   NaN       NaN NaN       NaN   NaN       NaN       NaN
884242  884242   NaN       NaN NaN       NaN   NaN       NaN       NaN
884243  884243   NaN       NaN NaN       NaN   NaN       NaN       NaN
884244  884244   NaN       NaN NaN       NaN   NaN       NaN       NaN
884245  884245   NaN       NaN NaN       NaN   NaN       NaN       NaN
884246  884246   NaN       NaN NaN       NaN   NaN       NaN       NaN
884247  884247   NaN       NaN NaN       NaN   NaN       NaN       NaN
884248  884248   NaN       NaN NaN       NaN   NaN       NaN       NaN
884249  884249   NaN       NaN NaN       NaN   NaN       NaN       NaN
884250  884250   NaN       NaN NaN       NaN   NaN       NaN       NaN
884251  884251   NaN       NaN NaN       NaN   NaN       NaN       NaN
884252  884252   NaN       NaN NaN       NaN   NaN       NaN       NaN
884253  884253   NaN       NaN NaN       NaN   NaN       NaN       NaN
884254  884254   NaN       NaN NaN       NaN   NaN       NaN       NaN
884255  884255   NaN       NaN NaN       NaN   NaN       NaN       NaN
884256  884256   NaN       NaN NaN       NaN   NaN       NaN       NaN
884257  884257   NaN       NaN NaN       NaN   NaN       NaN       NaN
884258  884258   NaN       NaN NaN       NaN   NaN       NaN       NaN
884259  884259   NaN       NaN NaN       NaN   NaN       NaN       NaN
884260  884260   NaN       NaN NaN       NaN   NaN       NaN       NaN
884261  884261   NaN       NaN NaN       NaN   NaN       NaN       NaN

               7   8    ...           25  26        27  28        29  \
0       0.000000   0    ...     0.000000   0  0.023333   0  0.005000
1       0.003333   0    ...     0.010000   0  0.000000   0  0.000000
2       0.000000   0    ...     0.000000   0  0.000000   0  0.083167
3       0.000000   0    ...     0.000000   0  0.003333   0  0.036429
4       0.000000   0    ...     0.000000   0  0.003333   0  0.036429
5       0.000000   0    ...     0.007333   0  0.006000   0  0.073333
6       0.000000   0    ...     0.000000   0  0.000000   0  0.020000
7       0.000000   0    ...     0.000000   0  0.000000   0  0.060000
8       0.021000   0    ...     0.010000   0  0.007500   0  0.040000
9       0.007333   0    ...     0.006667   0  0.006000   0  0.040000
10      0.000000   0    ...     0.000000   0  0.000000   0  0.077500
11      0.015000   0    ...     0.000000   0  0.001250   0  0.110833
12      0.015000   0    ...     0.000000   0  0.001250   0  0.110833
13      0.025000   0    ...     0.034310   0  0.000000   0  0.040000
14      0.000000   0    ...     0.000000   0  0.000000   0  0.000000
15      0.042500   0    ...     0.000000   0  0.000000   0  0.000000
16      0.000000   0    ...     0.000000   0  0.017500   0  0.000000
17      0.000000   0    ...     0.000000   0  0.000000   0  0.079833
18      0.000000   0    ...     0.000000   0  0.000000   0  0.000000
19      0.000000   0    ...     0.000000   0  0.002500   0  0.010000
20      0.000000   0    ...     0.000000   0  0.002500   0  0.010000
21      0.010000   0    ...     0.020000   0  0.010000   0  0.019000
22      0.000000   0    ...     0.006667   0  0.002000   0  0.000000
23      0.000000   0    ...     0.000000   0  0.000000   0  0.123881
24      0.000000   0    ...     0.000000   0  0.000000   0  0.000000
25      0.000000   0    ...     0.000000   0  0.000000   0  0.000000
26      0.000000   0    ...     0.010000   0  0.000000   0  0.000000
27      0.000000   0    ...     0.000000   0  0.000000   0  0.202000
28      0.000000   0    ...     0.000000   0  0.000000   0  0.010000
29      0.000000   0    ...     0.000000   0  0.000000   0  0.000000
...          ...  ..    ...          ...  ..       ...  ..       ...
884232       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884233       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884234       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884235       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884236       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884237       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884238       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884239       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884240       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884241       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884242       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884243       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884244       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884245       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884246       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884247       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884248       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884249       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884250       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884251       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884252       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884253       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884254       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884255       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884256       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884257       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884258       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884259       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884260       NaN NaN    ...          NaN NaN       NaN NaN       NaN
884261       NaN NaN    ...          NaN NaN       NaN NaN       NaN

              30        31        32        33        34
0       0.000000  0.040000  0.120000  0.047619  0.245000
1       0.000000  0.000000  0.190000  0.006667  0.048333
2       0.000000  0.010000  0.070000  0.109286  0.000000
3       0.000000  0.035000  0.322500  0.015000  0.020000
4       0.000000  0.035000  0.322500  0.015000  0.020000
5       0.000000  0.023333  0.252000  0.007500  0.000000
6       0.000000  0.053333  0.290000  0.000000  0.020000
7       0.000000  0.040000  0.250000  0.010000  0.030000
8       0.000000  0.125000  0.060000  0.080000  0.002000
9       0.000000  0.078405  0.102000  0.032500  0.000000
10      0.000000  0.050000  0.170000  0.000000  0.000000
11      0.000000  0.076190  0.130000  0.015000  0.003333
12      0.000000  0.076190  0.130000  0.015000  0.003333
13      0.010000  0.057333  0.036667  0.040000  0.000000
14      0.000000  0.237643  0.010000  0.000000  0.000000
15      0.005000  0.030000  0.000000  0.048000  0.000000
16      0.010000  0.075000  0.090000  0.000000  0.010000
17      0.000000  0.036667  0.350000  0.010000  0.045167
18      0.005000  0.191667  0.050000  0.020000  0.000000
19      0.000000  0.040000  0.030000  0.040000  0.000000
20      0.000000  0.040000  0.030000  0.040000  0.000000
21      0.000000  0.055000  0.030000  0.046500  0.047655
22      0.000000  0.031500  0.010000  0.054833  0.000000
23      0.000000  0.076667  0.260000  0.028750  0.067369
24      0.030000  0.259167  0.110000  0.070833  0.000000
25      0.060000  0.040000  0.365000  0.000000  0.000000
26      0.073048  0.160000  0.090000  0.070000  0.000000
27      0.208000  0.030000  0.000000  0.000000  0.000000
28      0.000000  0.060000  0.260000  0.012000  0.020000
29      0.000000  0.010000  0.110000  0.000000  0.000000
...          ...       ...       ...       ...       ...
884232       NaN       NaN       NaN       NaN       NaN
884233       NaN       NaN       NaN       NaN       NaN
884234       NaN       NaN       NaN       NaN       NaN
884235       NaN       NaN       NaN       NaN       NaN
884236       NaN       NaN       NaN       NaN       NaN
884237       NaN       NaN       NaN       NaN       NaN
884238       NaN       NaN       NaN       NaN       NaN
884239       NaN       NaN       NaN       NaN       NaN
884240       NaN       NaN       NaN       NaN       NaN
884241       NaN       NaN       NaN       NaN       NaN
884242       NaN       NaN       NaN       NaN       NaN
884243       NaN       NaN       NaN       NaN       NaN
884244       NaN       NaN       NaN       NaN       NaN
884245       NaN       NaN       NaN       NaN       NaN
884246       NaN       NaN       NaN       NaN       NaN
884247       NaN       NaN       NaN       NaN       NaN
884248       NaN       NaN       NaN       NaN       NaN
884249       NaN       NaN       NaN       NaN       NaN
884250       NaN       NaN       NaN       NaN       NaN
884251       NaN       NaN       NaN       NaN       NaN
884252       NaN       NaN       NaN       NaN       NaN
884253       NaN       NaN       NaN       NaN       NaN
884254       NaN       NaN       NaN       NaN       NaN
884255       NaN       NaN       NaN       NaN       NaN
884256       NaN       NaN       NaN       NaN       NaN
884257       NaN       NaN       NaN       NaN       NaN
884258       NaN       NaN       NaN       NaN       NaN
884259       NaN       NaN       NaN       NaN       NaN
884260       NaN       NaN       NaN       NaN       NaN
884261       NaN       NaN       NaN       NaN       NaN

[884262 rows x 36 columns]

ValueError: Length mismatch: Expected axis has 36 elements, new values have 40 elements